
@font-face
{
    font-family:"Montserrat-Black";
    src: url("fonts/Montserrat-Black.otf") format("otf");
     
}




body
{
    margin: 0px;
    padding: 0px;

  
}


header
{
    width: 99vw;
    background-color:#DC003F;
    padding: 2px 10px; 
    display: flex;
    align-items: center;
    position:static;
   
    
}
main
{
    height: 100vh;
    width: 100vw;
}
#logo
{
  
    width: 6%;
}

nav ul li
{
    list-style: none;
    margin: 20px;
   
    
}

nav ul
{
    display: flex;
    justify-content: space-between;
}

nav a
{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover
{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #FF005A 2px solid;
}

#selected
{
    border-bottom: #FF005A 2px solid;
}


.item
{
    display: flex;
  
    
   
}



.item:nth-child(1)
{   
  
    flex-direction: column;
    background-image: url('hero-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    align-items: center;
    padding-top: 7%;


}

.item--bloc1
{
    font-size: 102px;
    font-family: "Montserrat-Black";
    font-weight:bolder;
    color: #FFF;
}